<li>
	<span class="statusContent"><%= status.content %></span>
	<span class="timeStamp">Posted <%= time_ago_in_words(status.created_at) %> ago.</span>
	<% if current_user?(status.user) %>
		<%= link_to "Delete", status, method: :delete, data: {confirm:"You sure?"}, title: status.content %>
	<% end %>
</li>