<% provide(:title, 'All users') %>
<div class="centeredContainer">
  <h1 class="userName">The Pulse Nation</h1>

  

  <ul class="usersList">
    <%= will_paginate %>
    <% @users.each do |user| %>
      <li class="buddy">
          <%= link_to user.displayName, user, class:"followStats smallerFont" %>
      	  <% if current_user.admin? && !current_user?(user) %>
         		<%= link_to "delete", user, method: :delete, data: { confirm: "You sure?" }, class:"followStats deleteLink right" %>
    		  <% end %>
      </li>
    <% end %>
    <%= will_paginate %>
  </ul>

  
</div>