
/* Variables */
$mainTextColor: hsl(0, 0%, 75%);
$greenThemeColor: hsl(118, 96%, 39%);
$greenThemeColorHighlight: hsl(118, 96%, 69%);
$textFieldBackColor: hsl(0, 0%, 10%);
$statusSeperatorColor: hsl(0, 0%, 25%);
$redWarningColor: hsl(0, 96%, 39%);
$alertBackground: hsl(118, 20%, 75%);
$timestampColor: hsl(0, 0%, 45%);
$mainBackgroundColor: hsl(70, 8%, 15%);

html
{
	height: 100%;
}

body 
{	
	margin: 0;
	overflow-x: hidden;
	font-size: 14pt;
	background-color: $mainBackgroundColor;
	color: $mainTextColor;
}

header{
	position: fixed;
	top: 0;
	width: 100%;
	background-color: black;
	z-index: 100;
}

main{
	box-sizing: border-box;
	width: 100%;
	height: auto;
	margin-top: 50px;
	margin-bottom: 50px;
	padding: 20px 40px;
}

/* Form Styles */

.formLabel + .formField{
	width: 30%;
	margin: 0 30% 0 0;
}

.formLabel, .formField{
	display: inline-block;
}

.formLabel{
	width: 30%;
	text-align:right;
	color: $greenThemeColor;
}

.formLabelRadio{
	@extend .formLabel;
	width: 30%;
	margin-left: -10px;
}

.formField{
	width: 30%;
	float: right;
	border: 1px solid $textFieldBackColor;
	background-color: $textFieldBackColor;
	border-radius: 10px;
	color: $mainTextColor;
	padding-left: 5px;
	font-size: 14pt;
	&:focus{
		outline: 0;
		border-color: $greenThemeColor;
	}
}

.formFieldRadio{
	width: 10%;
}

.formSongEditLabel{
	width: 20%;
	text-align: right;
	color: $greenThemeColor;
}

.formSongEditField{
	width: 70%;
	min-width: 200px;
	text-align: left;
	border: 1px solid $textFieldBackColor;
	background-color: $textFieldBackColor;
	border-radius: 10px;
	color: $mainTextColor;
	padding-left: 5px;
	font-size: 14pt;
	&:focus{
		outline: 0;
		border-color: $greenThemeColor;
	}
}

/* end form styles */



.titleBlock{
	text-align: center;
}

.signUpBtn{
	box-sizing: border-box;
	display: inline;
	border: 1px solid hsl(0, 0%, 5%);
	border-radius: 10px;
	color: $greenThemeColor;
	background-color: hsl(0, 0%, 5%);
	text-decoration: none;
	padding: 15px;
	&:hover{
		border-color: hsl(118, 96%, 39%);
	}
}

.userName{
	font-size: 18pt;
	color: $greenThemeColor;
}

.followStats{
	text-decoration: none;
	font-size: 14pt;
	color: $greenThemeColor;
	&:hover{
		color: $greenThemeColorHighlight;
	}
}

.stats{
	margin-top: 10px;
}

.alert{
	color: $greenThemeColor;
	background-color: $textFieldBackColor;
	border: 1px solid $textFieldBackColor;
	border-radius: 10px;
	padding-left: 10px;
}

.statusPostBox{
	box-sizing: border-box;
	background-color: $textFieldBackColor;
	color: $mainTextColor;
	border: 1px solid $textFieldBackColor;
	border-radius: 10px;
	padding: 3px;
	width: 100%;
	min-width: 200px;
	min-height: 100px;
	resize: none;
	&:focus{
		outline: 0;
		border-color: $greenThemeColor;
	}
}

.leftContent{
	box-sizing: border-box;
	float: left;
	width: 20%;
	margin: 20px 15px 10px 0px;
}

.mainContent{
	box-sizing: border-box;
	float: left;
	width: 75%;
	margin: 20px 5px 10px 10px;
}

.middleContent{
	@extend .mainContent;
	width: 60%;
}

.rightContent{
	@extend .leftContent;
	width: 15%;
	margin-top: 20px;
}

.usersList{
	width: 50%;
	margin: 0 auto;
	overflow: hidden;
	background-color: $textFieldBackColor;
	color: $mainTextColor;
	padding: 0;
	border-radius: 10px;
	margin-bottom: 2px;
}

.buddyList{
	overflow: hidden;
	background-color: $textFieldBackColor;
	color: $mainTextColor;
	padding: 0;
	border-radius: 10px;
	margin-bottom: 2px;
}

.pagination{
	overflow: hidden;
	background-color: $textFieldBackColor;
	margin: 0 auto;
	ul{
		list-style: none;
		li{
			display: inline;
			margin: 0 5px;
			a{
				text-decoration: none;
				padding: 5px;
				color: $greenThemeColor;
				&:hover{
					color: $greenThemeColorHighlight;
				}
			}
		}
		li.active{
			background-color: $mainTextColor;
		}
	}
}



#tagBox{
	
	background-color: rgba(10, 10, 10, 0.5);
	border: 1px solid black;
	border-radius: 5px;
	padding: 5px;
	margin: 5px;
	margin-bottom: 10px;
	text-align: center;
	color: rgba(182, 182, 182, 1);
	overflow: hidden;
	max-height: 100px;
}

.title{
	display: block;
	float: left;
	font-size: 20pt;
	text-decoration: none;
	padding: 10px;
	margin-right: 20px;
	color: $greenThemeColor;
	z-index: 99;
	text-indent: -9999px;
	background: url(pulseIconSprite.png) no-repeat;
	&:hover{
		color: $greenThemeColorHighlight;
		background-position: 0 -60px;
	}
}

.nav-mobile 
{
    display:none; /* Hide from browsers that don't support media queries */
    float: left;
    height:40px;
    width:40px;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    margin: 10px 5px;
}

.navItem{
	float: right;
	width: auto;
	height: 100%;
	margin: 0px 10px;
	text-align: center;
	text-decoration: none;
	line-height: 60px;
	padding: 0px 10px;
	font-size: 14pt;
	color: $greenThemeColor;
	z-index: 10;
	&:hover{
		background-color: $mainBackgroundColor;
		color: $greenThemeColorHighlight;
	}
}

.statusListHeading{
	background-color: $textFieldBackColor;
	border-radius: 10px 10px 0 0;
	margin: 0;
	padding: 15px 10px;
}

.statusList
{
	overflow: hidden;
	background-color: $textFieldBackColor;
	color: $mainTextColor;
	padding: 0;
	margin-bottom: 2px;
}

.status{
	padding: 15px 10px;
	font-size: 14pt;
	border-top: 1px solid $statusSeperatorColor;
	overflow: hidden;
}

.buddy{
	@extend .status;
	padding: 10px 10px;	
	border-top: 1px solid $statusSeperatorColor;
}

.statusInfo{
	width: 100%;
}

.statusContent{
	box-sizing: border-box;
	float: left;
	width: 100%;
	padding: 5px 15px;
}

.statusTimestamp{
	box-sizing: border-box;
	float: right;
	width: 17%;
	margin-left: 10px;
}

.statusUser{
	width: 5%;
	float: left;
}

.deleteLink{
	width: 29px;
	height: 25px;
	background: url(deleteIconSprite.png) no-repeat;
	text-indent: -9999px;
	&:hover{
		background-position: 0 -25px;
	}
}

/* Profile card CSS */
/* entire container, keeps perspective */
.flip-container 
{    
    -webkit-perspective: 1000;
    -o-perspective: 1000;
    perspective: 1000;

    margin: 0px auto;
}

.flip-container, .profileCardFront, .profileCardBack 
{
    width: 250px;
	height: 350px;
    -o-transition: 0.5s linear .5s;
    -webkit-transition: 0.5s linear .5s;
    transition: 0.5s linear .5s;
    -o-transform-style: preserve-3d;    
    -webkit-transform-style: preserve-3d;    
    transform-style: preserve-3d;
}

/* flip the pane when hovered */
.flip-container:hover .profileCardFront, .flip-container.hover .profileCardFront 
{
    -o-transform: perspective(1000px) rotateY(-180deg);
    -webkit-transform: perspective(1000px) rotateY(-180deg);
    -moz-transform: perspective(1000px) rotateY(-180deg);
    transform: perspective(1000px) rotateY(-180deg);
}

.flip-container:hover .profileCardBack, .flip-container.hover .profileCardBack
{
    -o-transform: perspective(1000px) rotateY(0deg);
    -webkit-transform: perspective(1000px) rotateY(0deg);
    -moz-transform: perspective(1000px) rotateY(0deg);
    transform: perspective(1000px) rotateY(0deg);
}

.profileCardMain{
	width: 250px;
	height: 350px;

	-o-transform: perspective(1000px);
    -webkit-transform: perspective(1000px);
    -moz-transform: perspective(1000px);
    transform: perspective(1000px);

    position: relative;
}

.profileCardFront, .profileCardBack{
	-webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
	box-sizing: border-box;
	width: 100%;
	background: $textFieldBackColor;
	border: 5px inset $greenThemeColor;
}

.profileCardFront{
	z-index: 2;
}

.profileCardBack{
	-o-transform: perspective(1000px) rotateY(180deg);
    -webkit-transform: perspective(1000px) rotateY(180deg);
    -moz-transform: perspective(1000px) rotateY(180deg);
    transform: perspective(1000px) rotateY(180deg);
}

.profileCardImageContainer{
	height: 310px;
	width: auto;
	background: black;
}

.profileCardImage{
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

.profileCardUserName{
	height: 25px;
	text-align: center;
	font-size: 14pt;
	color: $greenThemeColor;
	padding: 0;
	margin: 0;
}

.profileCardBackContainer{
	width: 100%;
	margin: 0 auto;
}

.profileCardBackList{
	list-style: none;
	width: 100%;
	font-size: 0;
	padding: 0;
	white-space: nowrap;
}

.profileCardBackListItem{
	box-sizing: border-box;
	display: inline-block;
	width: 30%;
	list-style-type: none;
	background-color: black;
	text-align: center;
	padding: 5px;
	margin: 0;
	font-size: 14pt;
	border-right: 1px solid $mainTextColor;
	&:hover{
		background-color: $mainBackgroundColor;
	}
}

.privateInfoMessage{
	@extend .profileCardBackListItem;
	display: block;
	width: 100%;
	border: none;
	white-space: wrap;
	&:hover{
		background-color: black;
	}
}

.cardBackContent{
	box-sizing: border-box;
	width: 100%;
	overflow-y: auto;
	font-size: 14pt;
}

.statList{
	width: 100%;
	list-style: none;
	overflow-x: hidden;
	overflow-y: auto;
}

.leftList{
	float: left;
	color: $mainTextColor;
	text-align: right;
	width: 46%;	
}

.rightList{
	float: right;
	color: $mainTextColor;
	text-align: left;
	width: 46%;
}

.soundtrackHeader{
	text-align: center;
	color: $greenThemeColor;
	font-size: 14pt;
	margin: 5px 0;
	padding: 0;
}

.soundtrackItem{
	box-sizing: border-box;
	width: 100%;
	font-size: 12pt;
	border-top: 1px solid $statusSeperatorColor;
	padding: 5px 2px;
}

.soundtrackLine{
	width: 100%;
	float: left;
}

.numberBox{
	box-sizing: border-box;
	width: 15%;
	margin: 0;
	margin-right: 5px;
	font-size: 16pt;
	float: left;
	text-align: center;
	color: $greenThemeColor;
	padding: 2px;
	font-family: 'Black Ops One', cursive;
}

.soundtrackInfoBox{
	box-sizing: border-box;
	width: 80%;
	margin:0;
	margin-left: 5px;
	float: left;
}

.soundtrackLabel{
	color: $greenThemeColor;
}

/* Exercise Styles */

.exercise{
	padding: 15px 10px;
	font-size: 14pt;
	border-top: 1px solid $statusSeperatorColor;
	background-color: $textFieldBackColor;
	overflow: hidden;
}

.exerciseMover{
	@extend .exercise;
	border: none;
}

.exerciseLabel{
	display: inline-block;
	margin: 0 10px;
	font-size: 14pt;
	color: $greenThemeColor;
	text-align: center;
}

.sortableList{
	@extend .statusList;
	min-height: 56px;
}

.dragDropHighlight{ 
	height: 56px; 
	background-color: $mainBackgroundColor; 
}

.workOutLog{
	background: $mainBackgroundColor;
	padding: 10px;
}


/* Some generic and one off styles */

.left{
	float: left;
}

.right{
	float: right;
}

.headingFont{
	font-family: 'Black Ops One', cursive;
}

.centeredContainer{
	width: 70%;
	margin: 0 auto;
	text-align: center;	
}

.centered{
	display: block;
	text-align: center;
	margin: 0 auto;
}

.leftContainer{
	width: 45%;
	text-align: center;
	float: left;
	margin: 20px 0;
}

.rightContainer{
	width: 45%;
	text-align: center;
	float: right;
	margin: 20px 0;
}

.characterCount{
	display: inline;
	font-size: 12pt;
	margin: 0 0 0 5px;
	padding: 0;
}

.redWarning{
	color: $redWarningColor;
}

.smallerList{
	width: 50%;
}

.smallerFont{
	font-size: 12pt;
}

.noColor{
	color: $timestampColor;
	&:hover{
		color: $timestampColor;
	}
}

.noRightBorder{
	border-right: none;
}

.hidden{
	display: none;
}

.addTextFieldColor{
	background-color: $textFieldBackColor;
}

.inline{
	display: inline;
}

.optionsBox{
	box-sizing: border-box;
	clear: both;
}

.noTopMargin{
	margin-top: 0;
}

.width45{
	width: 45%;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

#modal-container {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.4);
}
 
#modal {
  display: none;
  position: absolute;
  width: 600px;
  left: 50%;
  margin-left: (-600px - 40px) / 2;
  padding: 20px;
  background: #fff;
  border: 5px solid #eee;
 
  & > .close {
    position: absolute;
    right: 5px;
    top: 5px;
    color: #666;
    &:hover, &:active {
      color: #000;
    }
  }
}

/* end generics */
