<h1 class="hidden" id="<%= @routine.id %>"></h1>
<div class="leftContainer">
	<% if @user_exercises.any? %>
	<h1 class="userName headingFont statusListHeading">Your Exercise List</h1>
		<ul id="userExerciseList" class="sortableList">
			<%= render @user_exercises %>
		</ul>
	<% else %>
		<h1 class="followStats">No Exercises</h1>
	<% end %>
</div>

<div class="rightContainer">
	<h1 class="userName headingFont statusListHeading">Routine Exercise List</h1>
	<ul id="routineExerciseList" class="sortableList">
		<% if @routine.exercises.any? %>
			<%= render @routine.exercises %>
		<% end %>
	</ul>
	<br>
	<a href="#" class="signUpBtn center exrtEdit">Save Changes</a>
</div>