<% provide(:title, "Routine Manager") %>
<div class="leftContainer">
	<!-- Create routines -->
	<%= render 'new_routine_form' %>
</div>

<div class="rightContainer">
	<!-- Edit routines -->
	<% if @routines.any? %>
		<h1 class="userName headingFont statusListHeading">Your Routines</h1>	
		<ul class="statusList">
			<%= render @routines %>
		</ul>	
	<% else %>

	<% end %>
</div>

