<div class="centeredContainer">
	<h1 class="userName"><%= @routine.R_title %> Exercises</h1>

	<ul class="exerciseList">
		<% if @exercises.any? %>
			<%= render partial: 'shared/advanced_exercise_list', collection: @exercises, as: :exercise %>
		<% end %>
	</ul>

</div>