<div class="centeredContainer">
	<h1 class="userName"><%= @routine.R_title %> Exercises</h1>
	<ul class="exerciseList">
		<% if @routine.exercises.any? %>
			<%= render @routine.exercises %>
		<% end %>
	</ul>
	<a href="#" class="signUpBtn center addWorkout">Log A Workout</a>
</div>