<% if @feed_items.any? %>
	<h1 class="userName headingFont statusListHeading">Whats Going On</h1>	
	<ul class="statusList">
		<%= render partial: 'shared/feed_item', collection: @feed_items %>
	</ul>	
<% else %>
	<h1 class="userName headingFont statusListHeading">Nothing Going On :(</h1>
<% end %>

