<ul>
	<li><%= link_to "Manage Exercises", exercises_path, class:"followStats" %></li>
	<li><%= link_to "Manage Routines", routines_path, class:"followStats" %></li>
	<li><%= link_to "Manage Workouts", workouts_path, class:"followStats" %></li>
</ul>