<%= form_for(@status) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div>
    <%= f.text_area :content, placeholder: "New post...", class:"statusPostBox" %>
  </div>
  <p class="characterCount">140</p>
  <%= f.submit "Post", class: "signUpBtn" %>
<% end %>