<h1 class="userName"><%= current_user.displayName %></h1>
<span><%= link_to "My Profile", current_user, class:"followStats" %></span>
<span><%= pluralize(current_user.statuses.count, "Posts") %></span>